/* General Reset básico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
} 

body {
    padding-top: 80px; /* Espacio para el header fijo */
    background-color: #ffffff;
}

/* Header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background: #000000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  display: flex;             /* Para centrar el contenido */
  justify-content: center;   /* Para centrar el contenido */
}

.menu {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo_menu {
  width: 120px;
  /* filtro para hacerlo blanco*/
  /* Se ve padre XD*/
   filter: brightness(0) invert(1); 
}

/* Navegación Desktop */
.menu .menu-link ul li {
  display: inline-block;
}

.menu .menu-link ul li a {
  text-decoration: none;
  color: #ffffff; /* Letras blancas */
  margin-left: 25px;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: 0.3s;
}

.menu .menu-link ul li a:hover {
  color: #c5a059; /* Color dorado al pasar el mouse */
}

/* Icono hamburguesa (móvil) PENDIENTE */
.menu .container-menu .logo .btn-menu {
    display: none;
    cursor: pointer;
}

/* --- Media Queries --- */
@media (max-width: 768px) {
    header {
        background: #000000;
    }
    
    .menu .container-menu .logo .btn-menu {
        display: block;
    }

    .menu .menu-link {
        position: absolute;
        background: #000000; /* Fondo negro en móvil */
        height: 100vh;
        width: 100%;
        top: 70px;
        left: -100%;
        transition: 0.5s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }
    
    /* Clase para activar menú con JS */
    /* TODO: Agregar JS */
    .menu .menu-link.active {
        left: 0;
    }

    .menu .menu-link ul li {
        display: block;
        margin-bottom: 20px;
    }
    
    .menu .menu-link ul li a {
        font-size: 1.2em;
        margin-left: 0;
    }
}