/* --- Shipments Section --- */
#shipments h2 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
}

/* Tarjeta principal */
.shipment-card {
    background-color: #1A3C40; /*DArk Cyan*/
    color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: left;
}

.shipment-header {
    background-color: rgba(0,0,0,0.2); /* Un poco más oscuro para el título */
    padding: 15px 30px;
    font-weight: 600;
    font-size: 1.1em;
}

.shipment-body {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 30px;
}

/* Columna Izquierda: Datos */
.user-info {
    flex: 1;
    min-width: 300px;
}

.user-info h4 {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 1em;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 0.9em;
    margin-bottom: 5px;
    color: #ddd;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #E0E0E0; /* Gris claro */
    color: #333;
    font-size: 1em;
}

/* Columna Derecha: Mapa */
.map-view {
    flex: 1;
    min-width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
}

.map-view img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
}

/* Ajuste móvil para Shipments */
@media (max-width: 768px) {
    .shipment-body {
        flex-direction: column;
        padding: 20px;
    }
}